mixin member(member, index)
  .member
    .bubble
      if index % 2 == 0
        img(src='/img/BubbleBlue.svg')
      else
        img(src='/img/BubbleOrange.svg')
      .first= member.first
      .last= member.last
    .title= member.title
    em.qualifications= member.qualifications
    .quote= member.quote
    button Learn more about #{member.first}