mixin member(member)
  .member
    .bubble 
      img(src='/img/BubbleOrange.svg')
      .first= member.first
      .last= member.last
    .title= member.title
    .quote= member.quote
    button Learn more about #{member.first}